.sidebar {
    margin-left: -70px;
    background-color: white;
    position: absolute;
    width: 317px;
    height: 100vh;
    display: none;
    z-index: 1;
}

.sidebar.open {
    display: block;
}

.background {
}

.nav {
    padding-top: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav a {
    margin-top: 45px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: black;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    text-decoration: underline;
    color: #0059B2;
}

.close {
    margin: 16px 24px;
    float: right;
    border: none;
    background: none;
}

.close img {
}
