.sidebar {
    position: absolute;
    width: 280px;
    transition-duration: 500ms;
    transform: translate(-350px);

}

.sidebar.open {
}

.background {
}

.nav {
    display: flex;
    flex-direction: column;

}

.nav a {
    color: black;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    text-decoration: underline;
    color: #0059B2;
}
.close {
}

.close img {
}
