.sendForm {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}

.textarea {
    padding-top: 12px;
    padding-left: 24px;
    box-sizing: border-box;
    width: 100%;
    min-height: 40px;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.6);

    opacity: 0.9;
}

.button {
    width: 120px;
    height: 40px;
    margin-left: 44px;

    background: #0066CC;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
}

.button:hover {
    text-decoration: underline;
}
.button:active {
    text-decoration: line-through;
    color: #FFFFFF;
}
