.button {
    padding: 5px 24px;
    border: none;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
}

.disabled {
    background: #004D99;
    opacity: 0.5;
}

.secondary {
    background: none;
    color: #0066CC;
    border: 1px solid #0066CC;
}

.default {
    background: #0080FF;
    color: #FFFFFF;
}

.red {
    background: #CC1439;
    color: #FFFFFF;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
